asgiref==3.5.0
beautifulsoup4==4.10.0
boto3==1.21.34
botocore==1.24.34
cycler==0.11.0
Django==4.0.3
django-cors-headers==3.11.0
django-cors-middleware==1.5.0
django-htmlmin==0.11.0
fonttools==4.31.2
html5lib==1.1
jmespath==1.0.0
joblib==1.1.0
kiwisolver==1.4.2
matplotlib==3.5.1
numpy==1.22.3
opencv-contrib-python==4.5.5.64
packaging==21.3
Pillow==9.0.1
pyparsing==3.0.7
python-dateutil==2.8.2
s3transfer==0.5.2
scikit-learn==1.0.2
scipy==1.8.0
six==1.16.0
soupsieve==2.3.1
sqlparse==0.4.2
threadpoolctl==3.1.0
tzdata==2022.1
urllib3==1.26.9
webencodings==0.5.1
whitenoise==6.0.0
